.name_body {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(70px, auto) minmax(100px, auto) minmax(100px, auto);
    border: 1px dashed rgb(0, 0, 0);
}

.menu {
    display: grid;
    grid-template-columns: 100px 400px 100px 100px 100px 100px 150px 100px 150px;

    grid-template-rows: 70px;

}

div {
    position: relative;
    border: 1px solid rgb(27, 133, 231);
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flexbox1 {
    display: flex;
    flex-direction: row;
}

.expand {
    margin-top: -3px;
    margin-left: 5px;
}

#circle_1 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #BC9CFF;

}

.centerr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



footer {
    background: rgb(230, 30, 24);
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
}

/* Блок main: Начало*/


.image_main {
    position: relative;
    background: url('img/image_3.jpg') no-repeat;
    z-index: 100;
    margin: 0;
    min-height: 900px;

}

.span_1 {
    position: absolute;
    width: 250px;
    color: rgba(31, 32, 65, 0.75);
    z-index: 200;
    margin-left: 1009px;
    margin-top: 834px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
}
/* Блок main: Конец*/

/* Кнопки в header: НАЧАЛО */
.styled_1 {
    border: 3px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 22px;
    border-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px #fff,
                inset -2px -2px 3px rgba(0, 0, 0, .6);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.styled_1:hover {
    border: 3px;
    border-color: rgba(255, 0, 0, 1);
}

.styled_1:active {
    box-shadow: inset -2px -2px 3px #fff,
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled_2 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 22px;
    background-color: #BC9CFF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.styled_2:hover {
    background-color: #BC9CFF;
}

.styled_2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* Кнопки в header: КОНЕЦ */
